<div class="flex min-h-screen items-center justify-center px-12 bg-white">
    <div class="max-w-md rounded-3xl p-px bg-gradient-to-b from-blue-300 to-pink-300">
        <div class="rounded-[calc(1.5rem-1px)] p-10 bg-white">
            <p class="text-gray-700 dark:text-gray-300">
                <%= text %>
            </p>

            <div class="mt-8 flex gap-4 items-center">
                <%= content %>
            </div>
        </div>
    </div>
</div>