<!-- TODO: Complete & Properly Configure marquee.ejs -->

<div x-data="{}" x-init="$nextTick(() => {
        let ul = $refs.text;
        ul.insertAdjacentHTML('afterend', ul.outerHTML);
        ul.nextSibling.setAttribute('aria-hidden', 'true');
    })" class="flex w-max flex-nowrap overflow-hidden">
    <ul x-ref="text" class="flex animate-infinite-scroll items-center justify-center md:justify-start">
        <li>
            <span class="mx-1 text-4xl">Designer ✧</span>
        </li>
        <li>
            <span class="mx-1 text-4xl">Developer ✧</span>
        </li>
        <li>
            <span class="mx-1 text-4xl">Software Engineer ✧</span>
        </li>
        <li>
            <span class="mx-1 text-4xl">Tech-Savvy ✧</span>
        </li>
        <li>
            <span class="mx-1 text-4xl">Curious ✧</span>
        </li>
    </ul>

    <ul x-ref="text" class="flex animate-infinite-scroll items-center justify-center md:justify-start">
        <li>
            <span class="mx-1 text-4xl">Designer ✧</span>
        </li>
        <li>
            <span class="mx-1 text-4xl">Developer ✧</span>
        </li>
        <li>
            <span class="mx-1 text-4xl">Software Engineer ✧</span>
        </li>
        <li>
            <span class="mx-1 text-4xl">Tech-Savvy ✧</span>
        </li>
        <li>
            <span class="mx-1 text-4xl">Curious ✧</span>
        </li>
    </ul>
</div>