<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
</head>

<body>
    <%- include('partials/nav.ejs') %>
        <!-- Services Section -->
        <section class="min-h-screen">
            <div class="mx-auto max-w-2xl px-6 py-12">
                <h2 class="text-3xl font-bold text-center mb-8">Services</h2>
                <p class="font-medium text-blue-gray-300">
                    As an aspiring developer, I provide services to clients who are keen in creating
                    beautiful and functional websites, tooling, and web applications for day to day use.
                    I am a developer who specializes in creating and developing web applications and continuously
                    improve my skills and knowledge every day. Here are some services that I provide:
                </p>
            </div>

            <div class="container xl:max-w-7xl mx-auto px-4 py-4">
                <!-- Service :: One -->
                <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
                    <div
                        class="p-5 md:p-7 xl:p-10 bg-white border-2 border-blue-gray-300 shadow-sm rounded-lg transition delay-75 hover:-translate-y-1 hover:border-blue-gray-800">
                        <svg class="inline-block w-12 h-12 text-blue-gray-500 mb-3" xmlns="http://www.w3.org/2000/svg"
                            fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M21 7.5l-9-5.25L3 7.5m18 0l-9 5.25m9-5.25v9l-9 5.25M3 7.5l9 5.25M3 7.5v9l9 5.25m0-9v9" />
                        </svg>
                        <h4 class="text-lg font-bold mb-2">
                            1. Web Development & App Development 🔅
                        </h4>
                        <p class="leading-relaxed text-gray-600 dark:text-gray-400">
                            I am confident in my knowledge and understanding of developing web applications
                            using tools like: AstroJS, Svelte & SvelteKit, ReactJs, and more.
                        </p>
                    </div>
                    <!-- Service :: Two -->
                    <div
                        class="p-5 md:p-7 xl:p-10 bg-white border-2 border-blue-gray-300 shadow-sm rounded-lg transition delay-75 hover:-translate-y-1 hover:border-blue-gray-800">
                        <svg class="inline-block w-12 h-12 text-blue-gray-500 mb-3" xmlns="http://www.w3.org/2000/svg"
                            fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M21 7.5l-9-5.25L3 7.5m18 0l-9 5.25m9-5.25v9l-9 5.25M3 7.5l9 5.25M3 7.5v9l9 5.25m0-9v9" />
                        </svg>
                        <h4 class="text-lg font-bold mb-2">
                            2. Web Design w/Figma 🔅
                        </h4>
                        <p class="leading-relaxed text-gray-600 dark:text-gray-400">
                            As someone who prefers to incorporate UI/UX for websites. I am
                            confident in my knowledge and understanding of developing figma mockups
                            for websites, components, and overall understanding the layout of how
                            a website should feel.
                        </p>
                    </div>
                    <!-- Service :: Three -->
                    <div
                        class="p-5 md:p-7 xl:p-10 bg-white border-2 border-blue-gray-300 shadow-sm rounded-lg transition delay-75 hover:-translate-y-1 hover:border-blue-gray-800 sm:col-span-2 lg:col-span-1">
                        <svg class="inline-block w-12 h-12 text-blue-gray-500 mb-3" xmlns="http://www.w3.org/2000/svg"
                            fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M21 7.5l-9-5.25L3 7.5m18 0l-9 5.25m9-5.25v9l-9 5.25M3 7.5l9 5.25M3 7.5v9l9 5.25m0-9v9" />
                        </svg>
                        <h4 class="text-lg font-bold mb-2">
                            3. CLIs & TUIs 🔅
                        </h4>
                        <p class="leading-relaxed text-gray-600 dark:text-gray-400">
                            Tying back to my understanding and knowledge of C# and Java, I am
                            confident in my knowledge and ability to create Command Line
                            Interfaces (CLIs) and Terminal User Interfaces (TUIs) for productivity,
                            automation, and performance checks.
                        </p>
                    </div>
                    <!-- Service :: Four -->
                    <div
                        class="p-5 md:p-7 xl:p-10 bg-white border-2 border-blue-gray-300 shadow-sm rounded-lg transition delay-75 hover:-translate-y-1 hover:border-blue-gray-800 sm:col-span-2 lg:col-span-1">
                        <svg class="inline-block w-12 h-12 text-blue-gray-500 mb-3" xmlns="http://www.w3.org/2000/svg"
                            fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M21 7.5l-9-5.25L3 7.5m18 0l-9 5.25m9-5.25v9l-9 5.25M3 7.5l9 5.25M3 7.5v9l9 5.25m0-9v9" />
                        </svg>
                        <h4 class="text-lg font-bold mb-2">
                            3. Game Apps 🔅
                        </h4>
                        <p class="leading-relaxed text-gray-600 dark:text-gray-400">
                            I am passionate about game development and provide services
                            for making games, primarily pixel based rpg games and anything
                            in the realm of creative indie games. I use C# and Lua primarily for
                            creating and developing games.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <%- include('partials/footer.ejs') %>
            <%- include('partials/scripts.ejs') %>
</body>

</html>